aiohttp==3.7.4.post0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
calculator1==1.0.0
calculator8==2.0.0
Calculator==1.1.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.11
cm==0.1a2
discord.py==1.7.3
discord==1.7.3
Django==4.0.1
djangorestframework==3.13.1
docutils==0.18.1
env==0.1.0
envparse==0.2.0
idna==3.3
kivy-deps.angle==0.3.1
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
Kivy==2.0.0
math-addition==3.0
multidict==6.0.0
numpy==1.22.2
pandas==1.4.1
pip==22.0.3
plotly==5.6.0
pygame==2.1.2
Pygments==2.11.2
pypiwin32==223
python-dateutil==2.8.2
pytz==2021.3
pywin32==303
requests==2.27.1
setuptools==58.1.0
six==1.16.0
sqlparse==0.4.2
tenacity==8.0.1
termcolor==1.1.0
typing-extensions==4.0.1
tzdata==2021.5
urllib3==1.26.8
yarl==1.7.2
